# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Python Virtual Environment
myenv/
venv/
.venv/
__pycache__/

# Flutter/Dart/Pub related (updated for frontend/)
**/doc/api/
**/ios/Flutter/.last_build_id
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release
